<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>吃书网 - 在线协同翻译平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!-- link rel="shortcut icon" href="http://www.rememberthemilk.com/favicon.ico" --><!-- XXX: Add static -->
<link rel="stylesheet" href="../stylesheets/rtm_002.css" type="text/css" />
<link rel="stylesheet" href="../stylesheets/homepage.css" type="text/css" /><!-- XXX: Add static -->
<link rel="stylesheet" href="../stylesheets/rtm.css" type="text/css" />

<script type="text/javascript"><!--


//if(document.location.hostname==='chewthebook.com')
//{document.location.href=document.location.href.replace('chewthebook.com','www.chewthebook.com');}
document.onkeypress=function(ev)
{ev||(ev=window.event);var pressed=(ev.charCode)?ev.charCode:((ev.which)?ev.which:ev.keyCode);if((ev.ctrlKey&&ev.shiftKey&&(pressed==12||pressed==108||pressed==(108-32)||pressed==(108-22)))||ev.shiftKey&&pressed==34)
{document.location='/login/';}
return true;}
//var signup={'init':function(){window.onload=function(){var link=document.getElementById('hp-signup-lnk');link.onclick=function(){window.location='/signup/';};};}};signup.init();

--></script>

</head>
<body>
<div id="topbar">
<div class="content"><span class="login">
          已经是会员？<a class="login-link" href="/login/">请登录</a>。      </span>

<table class="tbl-container">
<tbody>
<tr>
<td><span class="welcome"><strong>欢迎使用！</strong></span>&nbsp;</td>
</tr>
</tbody></table></div></div> <!-- /topbar -->
<div id="topnav">
<div class="logo"><a href="/"><img src="../images/logo.png" alt="Chew The Book" id="topnav-logo" /></a></div>
<div class="content">
<ul>
<li class="top-nav-home"><a href="/">首页</a></li>
<li class="top-nav-learn-more"><a href="/tour/">教程</a></li>
<li class="top-nav-signup"><a href="/signup/">注册</a>（免费！）</li>
<li class="top-nav-blog"><a href="http://blog.chewthebook.com/">Blog</a></li>
<li class="top-nav-help"><a href="/help/">帮助</a></li></ul></div></div> <!-- /topnav -->

<div id="pageheader">
  <div class="content">
    <h1>Help</h1>

  </div>
</div> <!-- /pageheader -->

<div id="container">
  <div class="content">
  
<div class="feature-box">
<h3>New to Chew The Book?</h3>
<p>The <a href="/help/guide/"><b>Getting Started</b></a> guide has everything you need to know.</p>

</div>

<h1>Looking for help?</h1>

<p style="font-size: 1.2em;">Look no further! The best place to start is our searchable <a href="/help/faq/"><b>FAQ</b></a>. If you can't find your answer there, you might try the <a href="/forums/"><b>Forums</b></a>.</p>

<form method="get" action="/help/search.rtm">
<input type="text" name="q" size="30" value="" />
<input type="submit" name="Search" value="Search" maxlength="100" />
</form>

<p>Still got questions or just want to say something nice? Feel free to <a href="/help/contact/"><b>contact us</b></a>.</p>  </div>
</div> <!-- /container-->

<div id="footer-news"><span class="new">NEW</span><span class="ico"><a href="http://chewthebook.com/upgrade/"></a></span>想要更加有效的完成专业翻译任务? <a href="http://chewthebook.com/upgrade/">升级到专业版</a></div>
<div id="footer">

<div id="footer-content">
<ul id="footer-nav">
<li class="footer-nav-accounts"><a href="http://chewthebook.com/signup/">帐户</a>
<ul>
<li><a href="http://chewthebook.com/signup/">注册 （免费！）</a></li>
<li><a href="http://chewthebook.com/login/">登录</a></li>
<li><a href="http://chewthebook.com/tour/">教程</a></li>
<li><a href="http://chewthebook.com/upgrade/">升级</a></li></ul></li>
<li class="footer-nav-about"><a href="http://chewthebook.com/about/">关于</a>
<ul>
<li><a href="http://chewthebook.com/about/press.rtm">媒体</a></li>

<li><a href="http://chewthebook.com/about/contact.rtm">联系我们</a></li></ul></li>
<li class="footer-nav-blog"><a href="http://chewthebook.blogspot.com/">Blog</a>
<ul>
<li><a href="http://blog.chethebook.com/">简体中文</a></li></ul></li>
<li class="footer-nav-services"><a href="http://chewthebook.com/services/">服务</a>
<ul>
<li><a href="http://chewthebook.com/services/api/">API</a></li>
<li><a href="http://chewthebook.com/services/mobile/">移动</a></li>
<li><a href="http://chewthebook.com/services/googlegears/">离线访问</a></li>
<li><a href="http://chewthebook.com/services/tester/">Tester Program</a></li>
</ul>
<li class="footer-nav-forums"><a href="http://chewthebook.com/forums/">论坛</a>
    <ul>
        <li><a href="http://chewthebook.com/forums/help/">帮助</a></li>
        <li><a href="http://chewthebook.com/forums/ideas/">想法</a></li>
        <li><a href="http://chewthebook.com/forums/tips/">Tips &amp; Tricks</a></li>
    </ul>
</li>
<li class="footer-nav-help"><a href="http://chewthebook.com/help/">帮助</a>

<ul>
<li><a href="http://chewthebook.com/help/guide/">入门指南</a></li>
<li><a href="http://chewthebook.com/help/faq/">常见问题</a></li></ul></li></ul>
<div id="footer-legal"><span style="float: right"><a href="http://chewthebook.com/help/terms.html">使用条款</a> | <a href="http://chewthebook.com/help/privacy.html">隐私政策</a></span>
      © 2008 Chew The Book</div> <!-- /footer-legal --></div> <!-- /footer-content --></div> <!-- /footer -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">

</script>
<script type="text/javascript">
_uacct = "UA-4359932-1";
urchinTracker();
</script>
</body>
</html>
